body{
  background-color:#333;
  padding-top: 100px;
}
#board{
  color:#FFF;
  font-size:100px;
  font-family: sans-serif;
  text-align: center;
  height:300px;
  width:300px;
  margin:auto;
  background-color:#000
}
#tile-1{
height:100px;
background-color:blue;
}
#tile-2{
height:100px;
background-color:green;
}
#tile-3{
height:100px;
background-color:yellow;
}
#tile-4{
height:100px;
background-color:purple;
}
#tile-5{
height:100px;
background-color:black;
}
#tile-6{
height:100px;
background-color:red;
}
#tile-7{
height:100px;
background-color:orange;
}
#tile-8{
height:100px;
background-color:teal;
}
#tile-9{
height:100px;
background-color:brown;
}
