body{
  background-color:#333;
  padding-top: 100px;
  box-sizing: border-box;

}
#board{
  color:#FFF;
  font-size:100px;
  font-family: sans-serif;
  text-align: center;
  height:300px;
  width:300px;
  margin:auto;
  background-color:#000;
  position: relative;


}
.choose-team,.choose-opponent,.done,.game-over{
  font-size: 35px;
}

.towel,.another-round{
  font-size: 20px;
}

.x,.o,.CPU,.human,.towel,.another-round{

  margin:20px;
}
  .x:hover,.o:hover,.CPU:hover,.human:hover,.pro:hover,.towel:hover,.another-round:hover{
    cursor:pointer;
    color:yellow;
    margin:20px;
  }

  .beginner:hover{
    cursor:pointer;
    color:green;
    margin:20px;
  }

  .pointless:hover{
    cursor:pointer;
    color:red;
    margin:20px;
  }

#tile-1{
position: absolute;
top:0;
left:0;
border:5px solid white;
height:100px;
width:100px;
background-color:black;
line-height:100px;
}
#tile-2{
  position: absolute;
  top:0;
  left:100;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
#tile-3{
  position: absolute;
  top:0;
  left:200;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
#tile-4{
  position: absolute;
  top:100;
  left:0;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
#tile-5{
  position: absolute;
  top:100;
  left:100;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
#tile-6{
  position: absolute;
  top:100;
  left:200;
border:5px solid white;
  width:100px;
height:100px;
background-color:black;
line-height:100px;
}
#tile-7{
  position: absolute;
  top:200;
  left:0;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
#tile-8{
  position: absolute;
  top:200;
  left:100;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
#tile-9{
  position: absolute;
  top:200;
  left:200;
  width:100px;
height:100px;
border:5px solid white;
background-color:black;
line-height:100px;
}
.game-tile{
  background-color: orange;

}
